{{/*
   * Copyright (c) Facebook, Inc. and its affiliates.
   *
   * This source code is licensed under the MIT license found in the
   * LICENSE file in the root directory of this source tree.
*/}}

{{ define "slack.myorg.text" }}https://internal.myorg.net/wiki/alerts/{{.GroupLabels.app}}/{{.GroupLabels.alertname}}{{ end }}
{{ define "slack.myorg2.text" }}https://external.myorg.net/wiki/alerts/{{.GroupLabels.app}}/{{.GroupLabels.alertname}}{{ end }}