{{ define "slack.myorg.text" }}https://internal.myorg.net/wiki/alerts/{{.GroupLabels.app}}/{{.GroupLabels.alertname}}{{ end }}
{{ define "slack.myorg2.text" }}https://external.myorg.net/wiki/alerts/{{.GroupLabels.app}}/{{.GroupLabels.alertname}}{{ end }}